@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
  }
}

@layer components {
  .card {
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
  }
  
  .btn-primary {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(37 99 235);
    color: white;
    border-radius: 0.5rem;
  }
  
  .btn-primary:hover {
    background-color: rgb(29 78 216);
  }
}
